
nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    align-items: center;
    flex-wrap: wrap;
}
.location{
    background-color: rgba(128, 128, 128, 0.505);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.location:hover{
    background-color:#e03e28;
    color: white;
}
button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
a{
    text-decoration: none;
    color: white;
}
.auth{
    display: flex;
    gap: 30px;
}
.second-nav a{
    display: flex;
    text-decoration: none;
    color: gray;
    flex-wrap:wrap;

}
.second-nav a:hover{
    color: red;
}
.box{
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 1px 4px 0px grey;
    position: sticky;
    top: 0px;
    background-color:snow;
}
select{
    background-color: rgb(23, 242, 11);
    color: white;
    border-radius: 10px;
    padding:5px;
    border: none;
}
.side{
    display: flex;
    gap:30px;
}
.smart{
    background-color: ghostwhite;
    border-radius: 10px;
    padding: 10px;
    color: black;
}
.smart:hover{
    background-color: blue;
    color: white;
}
.items{
    height: 350px;
    width: 300px;
    box-shadow: 0px 0px 4px 0px gray;
}
.add{
    background-color:white;
    width: 100%;
    color: red;
    border-radius: 5px;
    border: 1px solid red;
}
.add:hover{
    background-color: red;
    color: white;
}
img{
    padding-left: 50px;
    margin: 0px;
}
img:hover{
    height: 205px;
    width: 205px;
}
.logo img:hover{
    height : 50px;
    width :100px;
}
h4{
    text-align: center;
    margin-bottom:0px;
  }
  h6{
    padding-left: 270px;
    margin: 0px;
    color: gray;
  }
h5{
    padding-left: 270px;
    margin-top: 0px;
}
.slides {
    height: 50vh;
    overflow:hidden;
    position: relative;
    z-index: -9999;
}

.slide {
    position: absolute;
    height: 100%;
    opacity: 0;
    inset: 0;
    animation: slide-show 12s infinite;
}

.slide-2 {
    animation-delay: 4s;
}

.slide-3 {
    animation-delay: 8s;
}

.slide-4 {
    animation-delay: 10s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding-left: 0px;
}

@keyframes slide-show {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20%,
    30% {
        opacity: 1;
        scale: 1.03;
    }

    50% {
        opacity: 0;
    }
}
.main{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    gap:70px;
    margin-left: 70px;
}
.off{
    background-color: rgba(249, 5, 5, 0.385);
    margin: 0px;
    width: 70px;
    color:white;
    text-align: center;
}
input{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}
@media(max-width:576px){
    input{
        width: 300px;
    }
    .logo img{
        padding: 0px;
    }
    .second-nav a{
        padding: 5px;
    }
}
@media (min-width:577px) and (max-width:768px){
    .main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px
    }
    input{
        width: 500px;
    }
    .logo img{
        padding: 0px;
    }
}
@media (min-width:769px) and (max-width:992px) {
    .main{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:10px;
        margin-left: 20px;
    }

}
@media (min-width:993px){
    .main{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:10px;
        margin-left: 20px;
    }
}


